.new-note-card {
  border-radius: 0.375rem;
  background-color: #334155;

  & .modal-overlay {
    position: absolute;
    background-color: #0f172a80;
    inset: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .modal-content {
    width: 640px;
    height: 100%;
    max-height: 60vh;
    background-color: #1e293b;
    border-radius: .375rem;

    position: relative;

    & form {
      display: flex;
      height: 100%;
      flex-direction: column;

      & div {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        flex: 1;
        padding: 1.25rem;

        & span {
          font-size: .875rem;
          line-height: 1.25rem;
          font-weight: 500;
          color: #cbd5e1;
        }

        & textarea {
          font-size: .875rem;
          line-height: 1.5rem;
          background-color: transparent;
          flex: 1;
          color: #94a3b8;

          resize: none;
          outline: 0;
          border: 0;
        }
      }

      & button {
        background-color: #4d7c0f;
        border: 0;
        padding: 1rem;
        outline: 0;

        font-weight: 500;
        color: #1a2e05;

        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &:hover {
          background-color: #84cc16;
        }
      }
    }
  }

  & .modal-close {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;
    top: 0;

    background-color: #0f172a;
    border: none;
    padding: 6px;

    color: #94a3b8;
    cursor: pointer;

    & svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    &:hover {
      color: #f1f5f9;
    }
  }

  &:hover {
    outline: 2px solid #475569;
  }

  &>button {
    background: transparent;
    height: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    text-align: left;
    outline: 0;
    border: 0;

    cursor: pointer;

    & span {
      font-size: 0.875rem;
      font-weight: 500;
      color: #e2e8f0;
    }

    & p {
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: #94a3b8;
    }
  }
}