.note-card {
  border-radius: 0.375rem;
  background-color: #1e293b;

  &:hover {
    outline: 2px solid #475569;
  }

  &>button {
    position: relative;
    background: transparent;
    height: 100%;
    width: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    text-align: left;
    outline: 0;
    border: 0;

    cursor: pointer;

    & span {
      font-size: 0.875rem;
      font-weight: 500;
      color: #e2e8f0;
    }

    & p {
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: #94a3b8;
    }

    & .gradient-overlay {
      position: absolute;
      background: linear-gradient(to top,
       rgba(0, 0, 0, 0.6),
       rgba(0, 0, 0, 0));
      inset: 0;
    }
  }
}

& .modal-overlay {
  position: absolute;
  background-color: #02061780;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

& .modal-content {
  position: relative;
  width: 640px;
  height: 100%;
  max-height: 60vh;
  overflow: hidden;
  background-color: #1e293b;
  border-radius: 0.375rem;

  & form {
    height: 100%;
    display: flex;
    flex-direction: column;

    & div {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      flex: 1;
      padding: 1.25rem;

      & span {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: #cbd5e1;
      }

      & p {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #94a3b8;
      }
    }

    & button {
      background-color: #18181b;
      border: 0;
      outline: 0;
      padding: 1rem;
      color: #cbd5e1;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.15s;

      &:hover {
        & span {
          text-decoration: underline;
        }
      }

      & span {
        color: #f87171;
      }
    }
  }

  & .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    border-bottom-left-radius: 8px;
    background-color: #0f172a;
    border: 0;
    padding: 6px;
    color: #94a3b8;
    cursor: pointer;

    & svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    &:hover {
      color: #f1f5f9;
    }
  }
}